<div class="panel panel-default tournament">
    <div class="panel-heading">
        <h3 class="panel-title">Tournament</h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary btn-sm ver nxt" type="button" ng-click="add()"
                ng-show="!game && (!tournament.start_date || tournament.end_date)">Create new tournament
        </button>

        {% include 'chess/tournament_details.html' %}
        {% include 'chess/games_round.html' %}
        {% include 'chess/tournament_rankings.html' %}
        {% include 'chess/game_details.html' %}
    </div>
</div>